{% extends 'base.html' %}

{% block title %}Albums{% endblock title %}

{% block content %}

    {% if request.user.profile.is_artist %}
        <a href="{% url 'create_album' %}" class="add-album">Add Album</a>
        <a href="{% url 'my_albums' %}" class="my-albums">My Albums</a>
    {% endif %}

    <div class="albums">
        {% for album in albums %}
            <a href="{% url 'album' album.id %}">
                <div class="album">
                    <img src="{{ album.imageurl }}" alt="album's cover">
                    <h3>{{album.name}}</h3>
                    <br>
                </div>
            </a>
        {% endfor %}
    </div>

    {% include 'pagination.html' with queryset=albums custom_range=custom_range %}

{% endblock content %}