{% extends 'base.html' %}

{% block title %}Artists{% endblock title %}

{% block content %}

    <div class="artists">
        {% for artist in artists %}
            <a href="{% url 'artist' artist.id %}">
                <div class="artist">
                    <img src="{{ artist.imageurl }}" alt="artist's image">
                    <h3>{{artist.nickname}}</h3>
                    <br>
                </div>
            </a>
        {% endfor %}
    </div>

    {% include 'pagination.html' with queryset=artists custom_range=custom_range%}

{% endblock content %}