{% extends 'base.html' %}

{% block title %}My Albums{% endblock title %}

{% block content %}

    <div class="albums">
        {% for album in albums %}
            <div class="album_out">
                <a href="{% url 'album' album.id %}">
                    <div class="album">
                        <img src="{{ album.imageurl }}" alt="album's cover">
                        <br>
                        <h3>{{album.name}}</h3>
                        <br>
                    </div>
                </a>
                <a href="{% url 'update_album' album.id %}" class="update_delete_album">Edit</a>
                <a href="{% url 'delete_album' album.id %}" class="update_delete_album">Delete</a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}