{% extends 'base.html' %}

{% block title %}Song{% endblock %}

{% block content %}

    <div class="contain">
        <div class="container">
            <div class="music-player">
                <div class="cover">
                    <img src="{{ song.image.url }}" alt="song's cover" />
                </div>
                <div class="titre">
                    {% for artist in song.artist.all %}
                        <h3>{{ artist|title }}</h3>
                    {% endfor %}
                    <h1>
                    {{song.title}}
                    </h1>
                </div>
                <center><a href="#"><i class="fa fa-step-backward fa-2x"></i></a> &nbsp; &nbsp; &nbsp; <a href="#"><i class="fa fa-step-forward fa-2x"></i></a></center>
                <div class="lecteur">
                    <audio class="fc-media" style="width: 100%;">
                    <source src="{{ song.song_file.url }}" type="audio/mp3"/>
                    </audio>
                </div>
            </div>

            <div class="comments">
                <h5>{{song.vote_ratio}}% Postitive Feedback ({{song.vote_total}} Vote{{song.vote_total|pluralize:'s'}})</h5>
                <br>
                {% if request.user.profile.id in song.reviewers %}
                    <p>You have already submitted your review for this song</p>

                {% elif request.user.is_authenticated %}
                    <form action="{% url 'song' song.id %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <label for="">{{field.label}}</label>
                            <br>
                            {{field}}
                            <br>
                        {% endfor %}

                        {% for error in field.errors %}
                            <p style="color: red;">{{error}}</p>
                            <br>
                        {% endfor %}

                        <input type="submit" value="Submit">
                    </form>

                {% else %}
                    <a href="{% url 'login' %}?next={{request.path}}">Please login in to leave a review</a>
                {% endif %}
            </div>

            <div class="comments_list">
                {% for review in song.review_set.all %}
                    <div class="single_comment">
                        <h4>{{ review.owner.user.first_name }}</h4>
                        <p>{{ review.body }}</p>
                        <br>
                        <p style="font-size: 16px;">{{ review.created }}</p>
                    </div>
                    <br>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock content %}