<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/message_form.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login_register_form.css'%}">
    <link rel="stylesheet" href="{% static 'styles/songs.css'%}">
    <link rel="stylesheet" href="{% static 'styles/artists.css' %}">
    <link rel="stylesheet" href="{% static 'styles/albums.css' %}">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css"/>
    <link rel="stylesheet" href="{% static 'styles/music_player.css' %}"/>

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include 'header.html' %}

    {% if messages %}
        <ul class="messages" style="text-align: center; font-size: 20px;">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}

    {% endblock content %}
</body>

<script src="{% static 'js/main.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js">
</script>
<script src="{% static 'js/music_player.js' %}">
</script>

</html>