.albums{
    text-align: center;
    margin: 30px;
}

.album{
    display: inline-block;
    width: 270px;
    height: 290px;
    margin: 10px;
    padding: 10px;
    font-size: 21px;
    border-radius: 10px;
    border: solid 2px rgb(93, 77, 68);
    background-color: black;
    color: rgb(212, 212, 212);
}

.albums a{
    text-decoration: none;
}

/* album_form */

.album_form{
    width: 650px;
    height: 600px;
    background-color: rgba(21, 21, 21, 0.8);
    font-size: 17px;
    margin: 110px auto;
    text-align: center;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
}

.album_form_input .input{
    width: 80%;
    background-color: rgb(80, 80, 80);
    color: rgb(212, 212, 212);
    font-size: 16px;
    padding: 8px 15px;
    margin: 15px;
}

.album_form input[type='submit']{
    background-color: rgb(80, 80, 80);
    color: white;
    width: 90px;
    height: 45px;
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    left: 280px;
}

.album_form input[type='submit']:hover{
    background-color: rgb(54, 54, 54);
}