.artists{
    text-align: center;
    margin: 30px;
}

.artist{
    display: inline-block;
    width: 270px;
    height: 290px;
    margin: 10px;
    padding: 10px;
    font-size: 21px;
    border-radius: 10px;
    border: solid 2px rgb(93, 77, 68);
    background-color: black;
    color: rgb(212, 212, 212);
}

.artists a{
    text-decoration: none;
}

/* artist_single_page */

.artist_page{
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 300px;
}

.artist_page img{
    border-radius: 10px;
    border: solid 2px rgb(93, 77, 68);
    margin-bottom: 10px;
}

.artist_page_list ul{
    list-style-type: none;
    text-align: center;
}

.artist_page_list ul li{
    display: inline-block;
    padding: 12px;
    font-size: 20px;
}

.artist_page_list ul a{
    text-decoration: none;
    color: white;
}

.artist_page_list ul a:hover{
    color: orange;
}
