.header .nav-list{
    list-style-type: none;
    text-align: center;
}

.header .nav-list .nav-link{
    text-decoration: none;
    display: inline-block;
    padding: 18px;
    color: white;
    font-size: 20px;
}

.header .nav-list .nav-link:hover{
    color: orange;
}

.add-song{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: absolute;
    right: 25px;
    top: 20px;
}

.add-song:hover{
    color: orange;
}