.add-song{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: absolute;
    right: 125px;
    top: 20px;
}

.add-song:hover{
    color: orange;
}

/* My Songs */

.my-songs{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: absolute;
    right: 25px;
    top: 20px;
}

.my-songs:hover{
    color: orange;
}

.songs .song_out{
    display: inline-block;
    width: 290px;
    height: 345px;
    color:rgb(196, 196, 196)
}

.songs .update_delete_song{
    text-decoration: none;
    color: white;
    background-color: rgb(137, 101, 23);
    font-size: 20px;
    padding: 5px 26px;
    border-radius: 20px;
}

.songs .update_delete_song:hover{
    background-color: rgb(47, 95, 137);
}

/* songs page */

.songs{
    text-align: center;
    margin: 30px;
}

.song{
    display: inline-block;
    width: 270px;
    height: 290px;
    margin: 10px;
    padding: 20px;
    font-size: 21px;
    border-radius: 10px;
    border: solid 2px rgb(93, 77, 68);
    background-color: black;
    color: rgb(212, 212, 212);
}

.song img{
    object-fit: cover;
    width: 97%;
    height: 89%;
    border-radius: 5px;
}

.song h3{
    margin-top: 3px;
    font-size: 22px;
}

.songs a{
    text-decoration: none;
}

/* song_form */

.song_form{
    width: 650px;
    height: 600px;
    background-color: rgba(21, 21, 21, 0.8);
    font-size: 17px;
    margin: 110px auto;
    text-align: center;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
}

.song_form_input .input{
    width: 80%;
    background-color: rgb(80, 80, 80);
    color: rgb(212, 212, 212);
    font-size: 16px;
    padding: 8px 15px;
    margin: 15px;
    border: none;
    border-radius: 10px;
}

.song_form input[type='submit']{
    background-color: rgb(80, 80, 80);
    color: white;
    width: 90px;
    height: 45px;
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    left: 280px;
    border: none;
    border-radius: 10px;
}

.song_form input[type='submit']:hover{
    background-color: rgb(54, 54, 54);
}

/* delete form */

.delete_form{
    width: 750px;
    height: 230px;
    background-color: rgba(21, 21, 21, 0.8);
    font-size: 17px;
    margin: 130px auto;
    text-align: center;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
}

.delete_form p{
    font-size: 23px;
    margin: 20px;
    color: rgb(236, 236, 236);
}

.delete_form input{
    font-size: 17px;
    padding: 18px;
    margin: 30px;
    background-color: rgb(113, 113, 113);
    color: rgb(236, 236, 236);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete_form input:hover{
    background-color: rgb(148, 96, 0);
    color: black
}

/* comments */

.comments{
    text-align: center;
    margin: 30px;
    font-size: 23px;
    padding: 20px;
    color: rgb(196, 196, 196);
}

.comments a{
    text-decoration: none;
    color: rgb(196, 196, 196);
}

.comments .input{
    width: 50%;
    background-color: rgb(80, 80, 80);
    color: rgb(212, 212, 212);
    font-size: 16px;
    padding: 8px 15px;
    margin: 15px;
    border-radius: 10px;
}

.comments input[type='submit']{
    background-color: rgb(80, 80, 80);
    color: white;
    width: 90px;
    height: 45px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}

.comments input[type='submit']:hover{
    background-color: rgb(54, 54, 54);
}

/* comments_list */

.comments_list{
    text-align: center;
    margin: 30px;
    font-size: 23px;
    padding: 20px;
    color: rgb(196, 196, 196);
}

.comments_list .single_comment{
    width: 55%;
    margin: auto;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: rgb(174, 174, 174)
}